body {
    margin: 0;
    font-family: 'Open Sans';
    background-color: hsl(218, 28%, 13%);
    font-size: 14px;
    color: hsl(0, 0%, 100%);
}

nav {
    display: inline-block;
}

nav a {
    text-decoration: none;
    font-weight: 400, 700;
    color: hsl(0, 0%, 100%);
}

nav li {
    list-style: none;
    display: inline-block;

}